body {
    padding-top: 70px; 
    background-color: rgba(241,241,241,0.5);
}


.navbar-brand.name{
	font-size: 25px;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	color: #428bca;
}

.navbar-container{
	padding-left: 40%; 
}
.navbar.navbar-fixed-top{
	background-color: white;
	border-color: lightgrey;
}
.nav.navbar-nav>li>a:hover, .nav.navbar-nav>li>a:focus {
	color: black;
	background-color: white;
	border-bottom: 4px solid rgba(70, 70, 70, 1);
}
.nav.navbar-nav>li.active>a, .nav.navbar-nav>li.active>a:hover, .nav.navbar-nav>li.active>a:focus {
	border-bottom: 4px solid #428bca;
}
.nav.navbar-nav>li>a{
	color: black;
	font-size: 16px;
}

/*ul.nav.navbar-nav{
	margin: 0 auto;
	text-align: center ;

}*/

/*Collapsed Button*/
.icon-bar{
	background-color: rgba(70, 70, 70, 1);
}
.navbar-toggle:hover .icon-bar{
	background-color: #428bca;
}


.sections{
  background-color: white;
  border: 5px solid transparent;
  border-color: lightgrey;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding: 2.5%;
}

.sections:hover, .sections:focus {
  border: 5px solid #428bca;
}


footer{
  background-color: white;
  border: 1px solid transparent;
  border-color: lightgrey;
}

}




a.thumbnail{
	border:none;
	/*border-color: white;*/
}

h1.subheader{
	text-align: center;
	margin: 0;
	margin-bottom: 25px;
}

.btn.btn-style{
	background-color: white;
	border-color: #428bca;
	color: #428bca;
}

.btn.btn-style:hover{
	background-color: #428bca;
	color: white;
}

 .myPicture{
    width: 201.62px;
    height: 211.14px;
    float: left;
    margin-right: 10px;
    text-align: center;
 }

 .myInfo{
  position: right;
 }

.form{
    margin-bottom: 10px;
}

.form-body{
	margin: 0 auto;
	width: 420px;
}

.tab-pane.active {
  -webkit-transition: 2.2s all linear;
  -moz-transition: 2.2s all linear;
  -o-transition: 2.2s all linear;
  transition: 2.2s all linear;
}

.tab-pane.fade.active.in {
	-webkit-transition: .2s all linear;
	-moz-transition: .2s all linear;
	-o-transition: .2s all linear;
	transition: .2s all linear;
}

















* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*background: black;*/
}

@media (max-width: 480px) {
  .masonry {
    margin: 3% 0;
  }
  .masonry .grid-sizer {
    width: 48.5%;
  }
  .masonry .gutter-sizer {
    width: 3%;
  }
  .masonry .item {
    width: 48.5%;
    margin-bottom: 3%;
  }
  .masonry .item img {
    width: 100%;
  }
}
@media only screen and (max-width: xxspx) {
  .masonry {
    margin: 3% 0;
  }
  .masonry .grid-sizer {
    width: 48.5%;
  }
  .masonry .gutter-sizer {
    width: 3%;
  }
  .masonry .item {
    width: 48.5%;
    margin-bottom: 3%;
  }
  .masonry .item img {
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .masonry {
    margin: 2.25% 0;
  }
  .masonry .grid-sizer {
    width: 31.83333%;
  }
  .masonry .gutter-sizer {
    width: 2.25%;
  }
  .masonry .item {
    width: 31.83333%;
    margin-bottom: 2.25%;
  }
  .masonry .item img {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .masonry {
    margin: 2% 0;
  }
  .masonry .grid-sizer {
    width: 23.5%;
  }
  .masonry .gutter-sizer {
    width: 2%;
  }
  .masonry .item {
    width: 23.5%;
    margin-bottom: 2%;
  }
  .masonry .item img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .masonry {
    margin: 1.875% 0;
  }
  .masonry .grid-sizer {
    width: 18.5%;
  }
  .masonry .gutter-sizer {
    width: 1.875%;
  }
  .masonry .item {
    width: 18.5%;
    margin-bottom: 1.875%;
  }
  .masonry .item img {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .masonry {
    margin: 1.8% 0;
  }
  .masonry .grid-sizer {
    width: 15.16667%;
  }
  .masonry .gutter-sizer {
    width: 1.8%;
  }
  .masonry .item {
    width: 15.16667%;
    margin-bottom: 1.8%;
  }
  .masonry .item img {
    width: 100%;
  }
}