<!DOCTYPE html>
<html ng-app="myWebsite">

<link rel ="stylesheet" href="css/style.css" media="screen" type="text/css"/>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>

<head>
  <meta charset="utf-8">
  <title>Rajdeep Gill | Resume</title>
  <div class = "navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <!-- <a class = "navbar-brand" href="#"> -->
        <span class="navbar-brand name">Rajdeep Singh Gill</span>
        <!-- </a> -->
      </div>

      <div class = "collapse navbar-collapse" id="main-navbar-collapse">
        <div class = "navbar-container">
          <ul class="nav navbar-nav">
            <li class = "active"><a href="#resume" data-toggle="tab">Resume</a></li>
            <li class = ""><a href="#social" data-toggle="tab">Social</a></li>
            <li class = ""><a href="#contactMe" data-toggle="tab">Contact Me</a></li>         
          </ul>
        </div>
      </div><!--/.nav-collapse --> 
    </div>
  </div>
</head>

<body ng-controller="firebaseCtrl">

  

  <div id="pageContent" class="tab-content pageContent">
    <div class="tab-pane fade in active mainContent" id="resume">
      <div class = "sideNavBar" id = "sideNavbar">
        <ul id="myTab" class="nav nav-pills nav-stacked">
          <li class="active"><a href="#aboutMe" data-toggle="tab"><span class="glyphicon glyphicon-user"></span> About Me</a></li>
          <li class=""><a href="#skills" data-toggle="tab"><span class="glyphicon glyphicon-star-empty"></span> Skills</a></li>
          <li class=""><a href="#education" data-toggle="tab"><span class="glyphicon glyphicon-pencil"></span> Education</a></li>
          <li class=""><a href="#workExperience" data-toggle="tab"><span class="glyphicon glyphicon-briefcase"></span> Work Experience</a></li>
          <li class=""><a href="#activities" data-toggle="tab"><span class="glyphicon glyphicon-bullhorn"></span> Activities</a></li>
          <li class=""><a href="#courseExperience" data-toggle="tab"><span class="glyphicon glyphicon-book"></span> Course Experience</a></li>
          <li class = ""><a href="files/Resume.pdf" target="_blank"><span class="glyphicon glyphicon-file"></span> PDF</a></li>
        </ul>
      </div>

      <div class = "mainContent" id = "mainContent">  
        <div id="resumeContent" class="tab-content resumeContent">
        <br>
          <div class="tab-pane fade in active" id="aboutMe">
            <h1 class="subheader" title = "About Me">About Me</h1>
            <img class="myPicture" src="img/Rajdeep.jpg"/>
            <div class="myInfo">
              <h4>{{me.name}}</h4>
              <h5>{{me.profession}}</h5>
              <p>{{me.summary}}</p>
            </div>
          </div>

          <div class="tab-pane fade" id="skills">
            <h1 class="subheader" title = "Skills">Skills</h1>
            <ul><li ng-repeat="skills in gSkills">{{skills.skill}}</li></ul><br>
            <h4>Specific Knowledge Skills</h4>
            <ul><li ng-repeat="skills in skSkills">{{skills.skill}}</li></ul><br>
            <h4>Information-gathering and Communication Skills</h4>
            <ul><li ng-repeat="skills in icSkills">{{skills.skill}}</li></ul><br>
            <h4>Thinking, Planning and Organizational Skills</h4>
            <ul><li ng-repeat="skills in tpoSkills">{{skills.skill}}</li></ul><br>
            <h4>Teamwork and Management Skills</h4>
            <ul><li ng-repeat="skills in tmSkills">{{skills.skill}}</li></ul>


          </div>
          
          <div class="tab-pane fade" id="education">
            <h1 class="subheader" title = "Education">Education</h1>
            <p> <strong><a href="http://www.wlu.ca/" target="_blank">Wilfrid Laurier University</a></strong>, Waterloo, Ontario, 2011 – present<br>
            Honours Computer Science Program with Management and Co-op Options </p>
            <p> <strong><a href="http://hrh.wrdsb.ca/" target="_blank">Huron Heights Secondary School</a></strong>, Kitchener, Ontario 2007 – 2011<br>
            Ontario Secondary School Diploma</p>
          </div>

          <div class="tab-pane fade" id="awards">
            <h1 class="subheader" title = "Awards">Awards</h1><p>• Awarded Honour Roll throughout secondary school, June 2008 - 2011<br>
          </div>
          
          <div class="tab-pane fade" id="workExperience">
            <h1 class="subheader" title = "Work Experience">Work Experience</h1>
            <div ng-repeat="experience in workExperiences">
              <strong><a href="{{experience.link}}" target="_blank">{{experience.name}}</a></strong>, {{experience.location}}, {{experience.duration}}<br>
              <strong>{{experience.position}}</strong>
              <p>{{experience.description}}</p>
              <ul><li ng-repeat="responsibilitie in experience.responsibilities">{{responsibilitie.responsibilitie}}</li></ul><br>
            </div>
          </div>

          <div class="tab-pane fade" id="activities">
            <h1 class="subheader" title = "Activities">Activities</h1>
            <div ng-repeat="activitie in activities">
              <br>
              <p> <strong>Laurier {{activitie.name}} Club</strong>, Wilfrid Laurier University, {{activitie.duration}}<br>
              <strong>{{activitie.position}}</strong></p>
              <p>{{activitie.description}}</p>
            </div>
          </div>

          <div class="tab-pane fade" id="courseExperience" ng-init="term='fall2011'">
            <h1 class="subheader" title = "Course Experience">Course Experience</h1>
            <div class="tab-content">
              <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#fall2011" data-toggle="tab" ng-click="term = 'fall2011'"><strong>Fall 2011 </strong></a></li>
                <li class=""><a href="#winter2012" data-toggle="tab" ng-click="term = 'winter2012'"><strong>Winter 2012</strong></a></li>
                <li class=""><a href="#spring2012" data-toggle="tab" ng-click="term = 'spring2012'"><strong>Spring 2012</strong></a></li>
                <li class=""><a href="#fall2012" data-toggle="tab" ng-click="term = 'fall2012'"><strong>Fall 2012</strong></a></li>
                <li class=""><a href="#winter2013" data-toggle="tab" ng-click="term = 'winter2013'"><strong>Winter 2013</strong></a></li>
                <li class=""><a href="#fall2013" data-toggle="tab" ng-click="term = 'fall2013'"><strong>Fall 2013</strong></a></li>
                <li class=""><a href="#winter2014" data-toggle="tab" ng-click="term = 'winter2014'"><strong>Winter 2014</strong></a></li>
              </ul>
              <div class="tab-pane fade in active" id="term" ng-repeat="course in courses | orderByPriority" ng-show="course.term == term">
                <br>
                <!-- <strong><a href={{course.url}} target="_blank">{{course.courseCode}} {{course.course}}</a></strong> -->
                <strong>{{course.courseCode}} {{course.course}}</strong>
                <p>{{course.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade mainContent" id="social">
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" ng-repeat="site in socialSites">
          <a href="{{site.link}}" target="_blank" class="thumbnail">
          <img src="{{site.path}}" alt="{{site.name}}" width="120" height="120"/>
          </a>
        </div>
      </div>
      <div class="masonry">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        <div class="item">
          <img src="http://placehold.it/200x170" alt="" />
        </div>
        <div class="item">
          <img src="http://placehold.it/200x180" alt="" />
        </div>
        <div class="item">
          <img src="http://placehold.it/200x190" alt="" />
        </div>
        <div class="item">
          <img src="http://placehold.it/200" alt="" />
        </div>
        <div class="item">
          <img src="http://placehold.it/200x210" alt="" />
        </div>
        <div class="item">
          <img src="http://placehold.it/200x170" alt="" />
        </div>
        <div class="item">
          <img src="http://placehold.it/200x180" alt="" />
        </div>
        <div class="item">
          <img src="http://placehold.it/200x190" alt="" />
        </div>
        <div class="item">
          <img src="http://placehold.it/200" alt="" />
        </div>
        <div class="item">
          <img src="http://placehold.it/200x210" alt="" />
        </div>
        <div class="item">
          <img src="http://placehold.it/200x170" alt="" />
        </div>
        <div class="item">
          <img src="http://placehold.it/200x180" alt="" />
        </div>
        <div class="item">
          <img src="http://placehold.it/200x190" alt="" />
        </div>
        <div class="item">
          <img src="http://placehold.it/200" alt="" />
        </div>
        <div class="item">
          <img src="http://placehold.it/200x210" alt="" />
        </div>
        <div class="item">
          <img src="http://placehold.it/200x170" alt="" />
        </div>
        <div class="item">
          <img src="http://placehold.it/200x180" alt="" />
        </div>
        <div class="item">
          <img src="http://placehold.it/200x190" alt="" />
        </div>
        <div class="item">
          <img src="http://placehold.it/200" alt="" />
        </div>
        <div class="item">
          <img src="http://placehold.it/200x210" alt="" />
        </div>
      </div>
    </div>

         
    
    <div class="tab-pane fade mainContent" id="contactMe">
      <!-- <h1 class="subheader" title = "ContactMe">Contact Me</h1> -->
      <!-- Coming Soon -->
      <br>
      <form class="form-body">
        <img src="Will.jpg" id="video" width="420" height="273.7">
        <br>
        <br>
        <div class="input-group form"> 
           <span class="input-group-addon"> <span class="glyphicon glyphicon-user"></span> </span>
           <input type="text" class="form-control" name="name" placeholder="First and Last" ng-model="name">
        </div>
        <div class="input-group form"> 
           <span class="input-group-addon"> <span class="glyphicon glyphicon-envelope"></span> </span>
           <input type="text" class="form-control" name="email" placeholder="User@email.com" ng-model="email">
        </div>
        <div class="input-group form"> 
           <span class="input-group-addon"> <span class="glyphicon glyphicon-phone"></span> </span>
           <input type="text" class="form-control" name="phonenumber" placeholder="xxx xxx xxxx" ng-model="phonenumber">
        </div>
        <div class="input-group form"> 
           <span class="input-group-addon"> <span class="glyphicon glyphicon-pencil"></span> </span>
           <textarea type="text" class="form-control" name="message" placeholder="message" ng-model="message"></textarea>
        </div>    
        <button type="submit" class="btn btn-style" ng-click="addSubmition()">Submit</button>
      </form>
      <br>
      <br>
            
    </div>
  </div>

  <div class="footer">
      <div class="inside clearfix"> 
        <div class="left"><p><strong>Rajdeep Gill</strong></a></p></div>
        <div class="right"><p> About <span>|</span> Contact <span>|</span></p></div>
      </div><!-- end footer inside-->   
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
<script src="js/jquery.js"></script>
<script src="js/masonry.pkgd.js"></script>
<script src="js/index.js"></script>
<script src="js/core.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://cdn.firebase.com/v0/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
  
</body>




</html>
