body, html {
	width: auto;
	height: auto;
    padding: 0;
    margin: 0;
    background-color: rgba(241,241,241,0.5);
}

/*Main Navbar*/

/*.navbar-header span.name{
	display:inline;
	min-width: 165px;
}
.navbar-header:hover span.name{
	display:none;
	-webkit-transition: 1.0s display linear;
	-moz-transition: 1.0s display linear;
	-o-transition: 1.0s display linear;
	transition: 1.0s display linear;
}
.navbar-header span.career{
	display:none;
}
.navbar-header:hover span.career{
	display:inline;
	font-size: 23px;
	-webkit-transition: 1.0s display linear;
	-moz-transition: 1.0s display linear;
	-o-transition: 1.0s display linear;
	transition: 1.0s display linear;
}*/

.navbar-brand.name{
	font-size: 25px;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	color: #428bca;
}

.navbar-header{
	min-width: 165px;
}
.navbar-container{
	text-align: center;
	padding-left: 35%; 
}
.navbar.navbar-fixed-top{
	background-color: white;
	border-color: lightgrey;
}
.nav.navbar-nav>li>a:hover, .nav.navbar-nav>li>a:focus {
	color: black;
	background-color: white;
	border-bottom: 4px solid rgba(70, 70, 70, 1);
}
.nav.navbar-nav>li.active>a, .nav.navbar-nav>li.active>a:hover, .nav.navbar-nav>li.active>a:focus {
	border-bottom: 4px solid #428bca;
}
.nav.navbar-nav>li>a{
	color: black;
	padding: 15px 30px;
	font-size: 16px;
}
ul.nav.navbar-nav{
	margin: 0 auto;
	text-align: center ;

}

/*Collapsed Button*/
.icon-bar{
	background-color: rgba(70, 70, 70, 1);
}
.navbar-toggle:hover .icon-bar{
	background-color: #428bca;
}





/*Resume Page*/

/*Side Stacked Navbar*/
.sideNavBar{
	float: left;
	margin-top: 25px;
	margin-right: 25px;
	margin-left: 50px;
	margin-bottom: 25px;
	background-color: white;
	border: 1px solid transparent;
	border-color: lightgrey;
}
.resumeContent{
	margin-bottom: 25px;
	margin-left: 25px;
	margin-right: 25px;
	background-color: white;
}
.nav.nav-pills>li.active>a, .nav.nav-pills>li.active>a:hover, .nav.nav-pills>li.active>a:focus {
	background-color: rgba(66, 139, 202, 1);
	color: white;
}
.nav.nav-pills>li>a:hover{
	background-color: rgba(70, 70, 70, 1);
	color: white;
}
.nav-stacked>li+li, .nav-stacked>li.active {
	margin-top: 0px;
}
.nav.nav-pills.nav-stacked{
	margin: 25px 15px;
}

.nav.nav-pills>li>a {
	border-radius: 0px;
	padding: 5px 5px;
	color: black;
}

.pageContent{
	width: auto;
	height: auto;
	padding-top: 50px;
	overflow: hidden;
	margin-bottom: 50px;
	background-color: rgba(241,241,241,0.5);
}

.mainContent{
	width: auto;
	height: auto;
	overflow: hidden;
	margin: 25px 50px;
  min-width: 210px;
	background-color: white;
	border: 1px solid lightgrey;
}

.row{
	margin: 25px;
}

a.thumbnail{
	border:none;
	/*border-color: white;*/
}

h1.subheader{
	text-align: center;
	margin: 0;
	margin-bottom: 25px;
}

.btn.btn-style{
	background-color: white;
	border-color: #428bca;
	color: #428bca;
}

.btn.btn-style:hover{
	background-color: #428bca;
	color: white;
}

 .myPicture{
    width: 201.62px;
    height: 211.14px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
 }

 .myInfo{
  position: right;
 }

.form{
    margin-bottom: 10px;
}

.form-body{
	margin: 0 auto;
	width: 420px;
}

.tab-pane.fade.active.in {
	-webkit-transition: .2s all linear;
	-moz-transition: .2s all linear;
	-o-transition: .2s all linear;
	transition: .2s all linear;
}

.footer {
	text-align: center;
   	position:fixed;
   	left:0px;
   	bottom:0px;
   	height:50px;
   	width:100%;
   	background-color:rgba(66, 139, 202, 1);
   	color: white;
    z-index: 40;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');

}
















* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*background: black;*/
}

@media (max-width: 480px) {
  .masonry {
    margin: 3% 0;
  }
  .masonry .grid-sizer {
    width: 48.5%;
  }
  .masonry .gutter-sizer {
    width: 3%;
  }
  .masonry .item {
    width: 48.5%;
    margin-bottom: 3%;
  }
  .masonry .item img {
    width: 100%;
  }
}
@media only screen and (max-width: xxspx) {
  .masonry {
    margin: 3% 0;
  }
  .masonry .grid-sizer {
    width: 48.5%;
  }
  .masonry .gutter-sizer {
    width: 3%;
  }
  .masonry .item {
    width: 48.5%;
    margin-bottom: 3%;
  }
  .masonry .item img {
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .masonry {
    margin: 2.25% 0;
  }
  .masonry .grid-sizer {
    width: 31.83333%;
  }
  .masonry .gutter-sizer {
    width: 2.25%;
  }
  .masonry .item {
    width: 31.83333%;
    margin-bottom: 2.25%;
  }
  .masonry .item img {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .masonry {
    margin: 2% 0;
  }
  .masonry .grid-sizer {
    width: 23.5%;
  }
  .masonry .gutter-sizer {
    width: 2%;
  }
  .masonry .item {
    width: 23.5%;
    margin-bottom: 2%;
  }
  .masonry .item img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .masonry {
    margin: 1.875% 0;
  }
  .masonry .grid-sizer {
    width: 18.5%;
  }
  .masonry .gutter-sizer {
    width: 1.875%;
  }
  .masonry .item {
    width: 18.5%;
    margin-bottom: 1.875%;
  }
  .masonry .item img {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .masonry {
    margin: 1.8% 0;
  }
  .masonry .grid-sizer {
    width: 15.16667%;
  }
  .masonry .gutter-sizer {
    width: 1.8%;
  }
  .masonry .item {
    width: 15.16667%;
    margin-bottom: 1.8%;
  }
  .masonry .item img {
    width: 100%;
  }
}